* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  line-height: auto !important;
  font-family: 'Cairo', sans-serif;
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: initial;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  padding: 0 20px;
  transition: background-color 0.3s ease-in-out;
}

.header-transparent {
  background-color: transparent;
}

.header-solid {
  background-color: #ffffff;
}

.beige {
  color: #D5BD91;
}

.particels {
  height: 110vh;
  overflow-y: hidden;
}

#particles-js {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background-color: #fff;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.logo img {
  width: 170px
}

h1 {
  overflow: hidden;
  font-size: 3rem;
}

.form-select {
  width: auto;
  border: none;
  background-color: transparent;
}

.form-select:focus {
  box-shadow: none;
}

main .row {
  width: 50%;
  top: 30%;
}

.btn {
  background-color: #D5BD91;
  border: 1px solid transparent;
  color: #fff;
  padding: 10px 20px;
}

.btn:hover {
  background-color: #ffff;
  border: 1px solid #D5BD91;
  color: #D5BD91;
}

.work {
  /* height: 400px; */
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  main .row {
    width: 85%;
  }
  .prop{

  }
}

th.active {
  background-color: rgb(14, 134, 14);
  --bs-table-accent-bg: green;
}

form {
  border: 1px solid #D5BD91;
  border-radius: 10px;
  padding: .5rem 1rem;

}

form .form-select {
  border: 1px solid #ced4da;
}

.prop {
  border-radius: 50%;
  height: 170px;
  width: 170px;
  padding: 1rem;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border:none;
  margin: 20px 10px;
  
}
.form-control:focus,
.form-check-input:checked
{
  border: 1px solid rgb(213, 189, 145);
  box-shadow: 0 0 0 0.25rem rgb(213 189 145 / 25%);
}

.form-select option:hover {
  background-color: #D5BD91 !important;
  color: #fff;
}

.form-check-input[type=radio] {
  border-radius: 5px;
}

.form-check-input:checked ,.form-check-input:focus
{
  border-color: #D5BD91;
  background-color: #D5BD91;
}

footer {
  background-color: #D5BD91;
}

a {
  text-decoration: none;
}

.active{
  border-radius: 10px;
  padding:.25rem 1.5rem;
  background-color:#45d745;
}
.pause{
  border-radius: 10px;
  padding:.25rem 1.5rem;
  background-color:#45d745;
}